<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
  <div class="container-fluid">
    <%= link_to 'Products Demo', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">        
        <% if @products.empty? %>
            <li class="nav-item">
                <%= link_to 'Products', products_path, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item dropdown">
                <%= link_to 'Products', products_path, class: "nav-link dropdown-toggle", id: "navbarDropdownMenuLink", role: "button", data: {bs_toggle: "dropdown"}, aria_expanded: "false" %>
                <ul class="dropdown-menu borer-none" aria-labelledby="navbarDropdownMenuLink">
                    <% @products.each do |product| %>
                        <li>
                            <%= link_to product.title, product, class: "dropdown-item", data: { turbolinks: false } %>
                        </li>
                    <% end %>
                </ul>
            </li>
        <% end %> 
        <% unless user_signed_in? %>
            <li class="nav-item">
                <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
            </li>
        <% else %>
            <li class="nav-item">
                <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>